* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #f8fafc;
}

nav {
    background: #111827;
    padding: 18px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: white;
    margin: 0 18px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 50px;
    color: white;
}

body > h2 {
    text-align: center;
    color: #38bdf8;
    border: none;
}

section {
    width: 85%;
    margin: 35px auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

h2 {
    color: #38bdf8;
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 10px;
}

h3 {
    color: white;
}

p {
    line-height: 1.7;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #0f172a;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #38bdf8;
    color: #0f172a;
}

td, th {
    padding: 14px;
    border: 1px solid #334155;
}

.project-card, .project-box {
    background: #0f172a;
    border-left: 6px solid #38bdf8;
    padding: 22px;
    margin-top: 22px;
    border-radius: 12px;
}

ul {
    line-height: 1.7;
}

a {
    color: #38bdf8;
}

footer {
    text-align: center;
    padding: 30px;
}
